<footer class="footer-basic-centered">
        <p class="footer-company-name">Created by Sh<a  class="editorLogin"href="{{ path_for('auth.signin')}}">a</a>yan Javadi &copy; 2016 <br><a class="footer-company-name" href="#">Contact</a></p>
</footer>
